@model UploadImageMVC.Models.ImageR

@{
    ViewBag.Title = "ImageView";
}

<h2>ImageView</h2>

<div>
    <h4>ImageR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImagePath)" width="250px" height="250px"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
